@import icfp2020.V
@(state: V, newState: V, pointX: Int, pointY: Int, pics: Seq[V.Pic], composed: Seq[Seq[Set[Int]]], composedOffW: Int, composedOffH: Int)

@main("Galaxy Viewer") {
  <script>
    function handleClick(e) {
      const data = e.srcElement.dataset;
      const {x, y} = data
      if(x && y) location.href = '/?state=@(V.modulate(newState))&x=' + x + '&y=' + y;
    }
  </script>
  <style>
.map-container {
  border: black solid 1px;
  margin: 5px;
  display: inline-block;
}
.row {
  margin: 0;
  padding: 0;
  display: flex;
}
.cell {
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
}
.cell.filled {
  background-color: #fff;
}
.cell.empty {
  background-color: #000;
}

.cell.color_ {
  background-color: #000;
}

@for(c: Set[Int] <- composed.flatten.toSet) {
  @defining(Seq(
    (0x6f, 0x00, 0x00),
    (0x00, 0x6f, 0x00),
    (0x00, 0x00, 0x6f),
    (0x4f, 0x00, 0x00),
    (0x00, 0x4f, 0x00),
    (0x00, 0x00, 0x4f),
    (0x2f, 0x00, 0x00),
    (0x00, 0x2f, 0x00),
    (0x00, 0x00, 0x2f),
  )) { colors =>
  .cell.color_@(c.toSeq.sorted.mkString("")) {
    background-color: #@(
      "%06x".format(
        c.foldLeft(0) { case (rgb, i) =>
          val (r, g, b) = colors(i)
          rgb + (r << 16) + (g << 8) + (b << 0)
        }
      )
    );
  }
  }
}
  </style>

  <h1>Galaxy</h1>

  <ul>
    <li><a href="/?state=11011000011111011010110011010110000&x=5&y=4">Something large</a></li>
  </ul>

  <dl>
    <dt>Old state</dt><dd>@V.pretty(state)</dd>
    <dt>Input</dt><dd>(@pointX, @pointY)</dd>
    <dt>New state</dt><dd>@V.pretty(newState)</dd>
  <dl>
  <div id="map">
  <script>
    document.getElementById('map').addEventListener('click', handleClick)
  </script>
  <div class="map-container">
    @for((row, y) <- composed.zipWithIndex) {
    <div class="row">@for((col, x) <- row.zipWithIndex) {<div class="cell color_@{col.toSeq.sorted.mkString("")}" data-x="@(x-composedOffW)" data-y="@(y-composedOffH)"></div>}</div>
    }
  </div>
  @for(pic <- pics) {
  <div class="map-container">
    @for((row, y) <- pic.data.zipWithIndex) {
      <div class="row">@for((px, x) <- row.zipWithIndex) {<div class="cell @if(px){filled}else{empty}" data-x="@(x-pic.offW)" data-y="@(y-pic.offH)"></div>}</div>
    }
  </div>
  }
  </div>
}
